body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background: #1e1e1e;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    background: url('../images/servis.jpg') center/cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.btn {
    background: red;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}
